
<!DOCTYPE html>

<html lang="en">

<head>

      <meta charset="UTF-8">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>Layout</title>

      <link rel="stylesheet" href="styles.css">

      <script src="https://kit.fontawesome.com/8ded689b95.js" crossorigin="anonymous"></script>

</head> 

<body>

    <h3 id="nombre-pagina"></h3>

    <main>

        <header>Zafary</header>

        <section class="caja-secundaria">

            <Section class="caja-contsec">

                <article>

                    <p><i class="fas fa-home"></i></p>

                    <p id='home'>Home</p>

                    <p></p>

                </article>

                <article>

                    <p><i class="fab fa-whatsapp-square"></i></p>

                    <p id='what'>WhatZapp</p>

                </article>  

                <article> 

                    <p><i class="fab fa-spotify"></i></p>                      

                    <p id='zpot'>Zpotify</p> 

                </article>

            </Section>

            <section class="caja-subbarra">

                <iframe id="nueva-pagina" src="" class="nueva-pagina" frameborder="0"></iframe>

            </section>

        </section>

    </main>

    <script src="./index.js"></script>

</body>     

</html>